<div id="page_wrapper">
  <div id="profile_image">
    <%#S= image_tag "profile.jpeg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Rahul Singh</h1>
    <p>Welcome to Blog for learners</p>
    <p> I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, </p>
  </div>
</div>

